/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
header  {
    background-color: rgb(0, 145, 255);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Barlow', sans-serif;
}
h1  {
    font-family: 'Fraunces', serif;
}
#under-header   {
    background-color: rgb(0, 145, 255);
    color: white;
}
#image-header   {
    width: 1440px;
}
button  {
    margin: 10px;
    background-color: lightgrey;
    border-radius: 20px;
    border-color: lightgray;
    height: 30px;
    width: 90px;
    border-style: solid;
    margin: 0;
}
footer  {
    background-color: hsl(168, 34%, 41%);
}