/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

/* *   {
    margin: 0px;
}
#header   {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 0px;
}
.header {
    position: relative;
    text-align: center;
    top: 150px;
    font-family: 'Barlow', sans-serif;
}
#tag    {
    position: relative;
    text-align: center;
    top: 150px;
    color: white;
}
h2  {
    display: inline-block;
}
h1  {
    font-family: 'Fraunces', serif;
}
#image-header   {
    width: 100%;
    margin-top: 0px;
}
#body  {
    display: flex;
    flex-direction: column;
}
.titles {
    font-family: 'Fraunces', serif;
}
p   {
    font-family: 'Barlow', sans-serif;
}
.rows  {
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.offering   {
    width: 720px;
    margin: 20px;
}
.offering-photo {
    width: 720px;
    margin-left: 595px;
}
#transform  {
    margin: 20px;
}
#graphic-design, #photography {
    position: relative;
    text-align: center;
}
.graphic-design {
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-25%, -60%);
    color:  hsl(167, 40%, 24%);
}
.photography    {
    position: absolute;
    top: 75%;
    left:40%;
    transform: translate(-25%, -60%);
    color: hsl(198, 62%, 26%);
}
#client-testimonials    {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    /* margin: 50px; */
/* }
#clients    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.one-client {
    margin: 50px;
}
.client-photo   {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
button  {
    margin: 10px;
    background-color: lightgrey;
    border-radius: 20px;
    border-color: lightgray;
    height: 30px;
    width: 90px;
    border-style: solid;
    margin: 0;
}
#bottom-row-photos  {
    display: flex;
    flex-direction: row;
}
.bottom-photo   {
    width: 360px;
}
footer  {
    background-color: hsl(168, 34%, 41%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}  */

.agency-name {
    position: absolute;
    top: 25px;
    left: 16px;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.header-right-side   {
    position: absolute;
    top: 25px;
    right: 16px;
    font-family: 'Barlow', sans-serif;
}
.header-links   {
    color: white;
}
button  {
    margin: 10px;
    background-color: lightgrey;
    border-radius: 20px;
    border-color: lightgray;
    height: 30px;
    width: 90px;
    border-style: solid;
    margin: 0;
}
h1  {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 40%;
    color: white;
    font-family: 'Fraunces', serif;
}
#arrow-down {
    position: absolute;
    top: 45%;
    left: 50%;
}